* {
  margin: 0;
}

.navbar {
  z-index: 10;
  background-color: var(--text-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15rem var(--padding-card);
  color: var(--text-dark);
  box-shadow: var(--box-shadow);
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  width: 100%;
  display: flex;
  gap: var(--gap);
  margin-left: 2rem;
}

.navbar-links a {
  color: var(--text-dark);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-links a:hover {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--text-light);
}

.loginBtn {
  margin-left: auto;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  z-index: 11;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  background-color: var(--text-dark);
  margin: 4px 0;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: 768px) {
    .close-btn {
      display: block;
    }
  }

  .flex-row {
    justify-content: space-between;
    width: 100%;
  }

  .navbar-links {
    z-index: 10;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    background-color: var(--gray);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
  }

  .navbar-links.active {
    right: 0;
  }

  .navbar-links a {
    padding: 1rem;
    text-align: center;
  }

  .loginBtn {
    margin-top: 1rem;
    text-align: center;
    margin-left: 0;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
