.home-main-pic {
  width: 100%;
  height: auto;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--base-padding);
  height: 95vh;
  position: relative;
  overflow: hidden;
}

.home-text {
  color: var(--text-light);
  flex: 1;
  text-align: left;
  max-width: 800px;
  text-shadow: var(--text-shadow);
}

.home-text h1 {
  font-size: 2.5rem;
  color: var(--text-light);
  margin-bottom: 10px;
}

.home-text p {
  font-size: var(--title-font-size);
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-image {
  flex: 1;
  text-align: right;
}

.homeVideo {
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.button-red {
  font-size: 16px;
  padding: 0.8rem 1rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

@keyframes ellipseMove {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(30px, 20px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
