.home-card {
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: 20rem;
  text-shadow: var(--text-shadow);
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.content-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-opacity);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-light);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.overlay p {
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.button-red {
  margin-top: auto;
  cursor: pointer;
}

.button-home-card {
  width: 100%;
}

.overlay h3 {
  margin-top: 0.5rem;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .home-card {
    max-width: 15rem;
  }
}
