.home-card {
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-opacity);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  text-align: center;
}

.overlay h3 {
  margin: 0;
  font-size: 24px;
}
