<nav class="navbar">
    <img src="../../assets/images/logo.png" alt="Logo" />
    <div class="nav-links">
      <a href="#">Home</a>
      <a href="#">Partneri</a>
      <a href="#">O nama</a>
      <a href="#">Novosti</a>
      <a href="#">Razmena</a>
    </div>
    <div class="menu-icon" (click)="toggleSidebar()">
      <button>Click</button>
    </div>
  </nav>
  
  <div class="sidebar" [class.open]="isSidebarOpen">
    <a href="#">Home</a>
    <a href="#">Partneri</a>
    <a href="#">O nama</a>
    <a href="#">Novosti</a>
    <a href="#">Razmena</a>
  </div>
  